/* The main layout was designed to be read on a mobile decive. The media query adjusts some design to look better on a larger screen. */

/* Overall Page Structure - all media types*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

.parent {
  display: grid;
  background: rgb(42,119,181);
  background: linear-gradient(180deg, rgba(42,119,181,0.07046568627450978) 15%, rgba(44,118,194,0.4738270308123249) 70%, /*rgba(45,117,203,0.46262254901960786) 74%,*/ rgba(46,116,212,0.7203256302521008) 77%, rgba(46,88,212,1) 100%);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
  grid-template-areas: "nav"
                                  "home"
                                  "review"
                                  "bio"
                                  "about";
}

.spacing {
  margin: 0 0 0 0;
  padding: 10% 0 10% 0;
}

h1 {
  text-align: center;
  padding: 7%;
  font-family: 'EB Garamond', serif;
  font-size: 45px;
}

h2 {
  padding: 5% 5% 5% 0;
  font-family: 'EB Garamond', serif;
  font-style: italic;
  font-size: 32px;
}

h3 {
  padding: 5% 5% 0  0;
  font-family: 'EB Garamond', serif;
  font-size: 28px;
}

p {
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

/* Main Site Navigation */
#main-nav {
  grid-area: nav;
  background-color: white;
  height: inherit;
  top: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px !important;
}

#main-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#main-nav li {
  padding: 0 0 0 0;

}

#main-nav a {
  color: black;
  text-decoration: none;
}

#main-nav a:hover {
  color: black;
  text-decoration: underline;
}

#main-nav a:visited {
  color: black;
  text-decoration: none;
}

/* Landing Page &  Image section*/
#home {
  grid-area: home;
  /*background-color: white;*/
}

#home img {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
}

/* Reviews section */
#film-and-television {
  grid-area: review;
  /*background-color: white;*/
  display: flex;
  flex-direction: column;
}

.review-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "img"
                                  "title"
                                  "text"
}

.review-card img {
  grid-area: img;
  max-width: 250px;
  margin: 10% auto 0 auto !important;
}

.review-card h3 {
  text-align: center;
  font-family: 'EB Garamond', serif;
}

/* Biography Section */
#biography {
  grid-area: bio;
  color: white;
  /*background-color: white;*/
}

/* about me section */
#about {
  grid-area: about;
  background-color: white;
  width: 100%;
  height: inherit;
  bottom: 0;
  text-align: center;
}

/* Adjustments made for large screens*/
@media screen and (min-width: 400px) {
  h2, h3, p {
    padding: 0 15% 0 15%;
  }

  #main-nav {
    grid-area: nav;
    /*background-color: white;*/
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: inherit;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
  }

  #main-nav li {
    padding: 0 0 0 0;
  }

  #home img {
    display: block;
    max-width: 500px;
    margin: 0 auto 0 auto;
  }

}

@media screen and (min-width: 1000px) {
  .spacing {
    margin: 0 15% 0 15%;
    padding:  7%;
  }

  #main-nav {
    grid-area: nav;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: inherit;
    font-family: 'Raleway', sans-serif;
  }

  #main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  #main-nav li {
    padding: 0 0 0 0;
    font-size: 28px;
  }

  #home img {
    display: block;
    max-width: 600px;
    margin: 0 auto 0 auto;
  }

  .review-card {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 15px;
    grid-row-gap: 0;
    margin: 0;
    grid-template-areas: "img title"
                                    "img text"
  }

  .review-card h3 {
    text-align: left;
    align-self: end;
    /*background-color: white;*/
    font-family: 'EB Garamond', serif;
  }
}
