/* The main layout was designed to be read on a mobile decive. The media query adjusts some design to look better on a larger screen. */

/* Overall Page Structure - all media types*/
.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
  grid-template-areas: "nav"
                                  "home"
                                  "review"
                                  "bio"
                                  "about";
}

.spacing {
  margin: 0 0 0 0;
  padding:  2.5rem;
}

h1 {
  text-align: center;
  padding: 8%;
}

h2 {
  padding: 5% 0 5% 0;
}

p {

}

/* Main Site Navigation */
#main-nav {
  grid-area: nav;
  background-color: yellow;
  height: inherit;
  top: 0;
  text-align: center;
}

#main-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#main-nav li {
  padding: 0 0 0 0;
}

#main-nav a {
  color: red;
  text-decoration: none;
}

#main-nav a:hover {
  color: red;
  text-decoration: underline;
}

#main-nav a:visited {
  color: red;
  text-decoration: none;
}

/* Landing Page &  Image section*/
#home {
  grid-area: home;
  background-color: pink;
}

#home img {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
}

/* Reviews section */
#film-and-television {
  grid-area: review;
  background-color: orange;

}

.review-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0;
  grid-template-areas: "img"
                                  "title"
                                  "text"
}

.review-card img {
  grid-area: img;
  max-width: 250px;
  margin: 10% auto 0 auto !important;
}

.review-card h3 {
  text-align: center;
}

/* Biography Section */
#biography {
  grid-area: bio;
  background-color: green;
}

/* about me section */
#about {
  grid-area: about;
  background-color: teal;
  width: 100%;
  height: inherit;
  bottom: 0;
  text-align: center;
}

/* Adjustments made for large screens*/
@media screen and (min-width: 750px) {
  .spacing {
    margin: 0 15% 0 15%;
    padding:  7%;
  }

  #main-nav {
    grid-area: nav;
    background-color: purple;
    color: blue;
    position: fixed;
    top: 0;
    width: 100%;
    height: inherit;
    font-size: 28px;
  }

  #main-nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  #home img {
    display: block;
    max-width: 600px;
    margin: 0 auto 0 auto;
  }

  .review-card {
    display: grid;
    grid-template-columns: auto 2fr;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 15px;
    grid-row-gap: 0;
    margin: 0;
    grid-template-areas: "img title"
                                    "img text"
  }

  .review-card h3 {
    text-align: left;
    align-self: end;
    background-color: pink;
  }
}
